<h1>Indice</h1>

<p>
    <a href="{% url "artemis:panel_estudiantes" %}">Panel Estudiantes</a>
</p>

<p>
    <a href="{% url "artemis:panel_becas" %}">Panel Becas</a>
</p>

<p>
    <a href="{% url "artemis:panel_periodos" %}">Panel Periodos</a>
</p>

<p>
    <a href="{% url "artemis:new_student" %}">Agregar estudiante</a>
</p>

<ul>
    {% for Estudiantes in object_list %}
        <li>
            <p>{{ artemis.name }}</p>
            <p>
                <a href="{% url "artemis:student_detail" Estudiantes.pk %}">Ver</a> | 
                <a href="{% url "artemis:edit_student" Estudiantes.pk %}">Editar</a> | 
                <a href="{% url "artemis:delete_student" Estudiantes.pk %}">Borrar</a> 
            </p>
        </li>
    {% endfor %}
</ul>

<h2>Listado Becas</h2>

<p>
    <a href="{% url "artemis:new_beca" %}">Agregar Beca</a>
</p>

<ul>
    {% for Becas in object_list %}
        <li>
            <p>{{ artemis.name }}</p>
            <p>
                <a href="{% url "artemis:becas_detail" Becas.pk %}">Ver</a> | 
                <a href="{% url "artemis:edit_beca" Becas.pk %}">Editar</a> | 
                <a href="{% url "artemis:delete_beca" Becas.pk %}">Borrar</a> 
            </p>
        </li>
    {% endfor %}
</ul>
