{% extends "base.html" %}

{% block title %} Dashboard {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{%load static%}

<html>
<head>
	<meta charset="UTF-8">
    <img style="" src="{%static 'assets/img/Logo UNACH-04.png' %}" alt="logo" width="600px" height="150px">
    <title>Bienvenido al sistema de gestión de diplomados</title>
</head>
<body>
	<h1>Bienvenido al sistema de gestión de diplomados</h1>
    <h4>Por favor utilice la barra de navegacion lateral para utilizar la aplicacion</h4>
</body>
</html>
{%endblock content%}