{% extends "base.html" %}

{% block title %} Dashboard {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<h1>Indice</h1>

<p>
    <a href="{% url "artemis:panel_estudiantes" %}">Panel Estudiantes</a>
</p>

<p>
    <a href="{% url "artemis:panel_becas" %}">Panel Becas</a>
</p>

<p>
    <a href="{% url "artemis:panel_periodos" %}">Panel Periodos</a>
</p>

<p>
    <a href="{% url "artemis:panel_areas" %}">Panel Areas</a>
</p>

<p>
    <a href="{% url "artemis:panel_profesiones" %}">Panel Profesiones</a>
</p>

<p>
    <a href="{% url "artemis:panel_docentes" %}">Panel Docentes</a>
</p>

<p>
    <a href="{% url "artemis:panel_cursos" %}">Panel Cursos</a>
</p>

<p>
    <a href="{% url "artemis:panel_diplomados" %}">Panel Diplomados</a>
</p>
{%endblock content%}