{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuotas</title>   
   <!-- Bootstrap -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   {% load crispy_forms_tags %}
</head>

<h2>Cuotas</h2>
<ul>
<p>{{ artemis.name }}</p>

<div class="table-responsive">
    <table class="table table-hover table table-bordered"> 
        <thead class="thead-light">
            <tr>
                <th>Estudiante </th>
                <th>Numero de cuota </th>
                <th>fecha emision </th>
                <th>fecha expiracion</th>
                <th>Estado del pago</th>
                <th>Monto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cuota in object_list %}
                <tr>
                    <td>{{  cuota.cuotas_por_pagar.estudiantes.nombre_estudiante }} </td>
                    <td>{{ cuota.numero_cuota|join:", " }} </td>  {{ place.area.all }}
                    <td>{{ cuota.fecha_emision }} </td>
                    <td>{{ cuota.fecha_exp }} </td>
                    <td>{{ cuota.pagado }}</td>
                    <td>${{ cuota.monto_pago }} </td>
                    <td> 
                        <form method="post" action="{% url 'artemis:pagar_cuota' pk=cuota.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="set_pagado" value="true">
                            <button type="submit" class="btn btn-success">Marcar como pagado</button>
                          </form>
                    </td> 
                </tr>
              {% endfor %}
          </tbody>
      </table>
    <div class="pagination">
        <ul class="pagination justify-content-center">
      
          {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">&laquo; Primera</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
          {% else %}
          <li class="page-item disabled"><span class="page-link">&laquo; Primera</span></li>
          <li class="page-item disabled"><span class="page-link">Anterior</span></li>
          {% endif %}
      
          <li class="page-item disabled"><span class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span></li>
      
          {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a></li>
          {% else %}
          <li class="page-item disabled"><span class="page-link">Siguiente</span></li>
          <li class="page-item disabled"><span class="page-link">Última &raquo;</span></li>
          {% endif %}
      </div>
      <p>
        <a href="{% url "artemis:panel_matriculas" %}" class="btn btn-secondary btn-sm" >Volver a matriculas</a>
    </p>
</ul>
{%endblock content%}