{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Areas</title>
   <!-- Bootstrap -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   {% load crispy_forms_tags %}
</head>


<ul>
    <h2>Panel Areas</h2>
<p>
    <a href="{% url "artemis:new_area" %}" class="btn btn-success btn-sm">Agregar area</a>
</p>
<p>{{ artemis.name }}</p>

<div class="table-responsive">
    <table class="table table-hover table table-bordered"> 
        <thead class="thead-light">
            <tr>
                <th>Nombre Area</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for Areas in object_list %}
                <tr>
                    <td>{{ Areas.nombre_area }}</td>
                    <td><a href="{% url "artemis:edit_area" Areas.pk %}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="{% url "artemis:delete_area" Areas.pk %}" class="btn btn-danger btn-sm">Borrar</a>
                    </td>
                </td> 
            </tr>
          {% endfor %}
      </tbody>
  </table>
  <div class="pagination">
    <ul class="pagination justify-content-center">
  
      {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1">&laquo; Primera</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
      {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo; Primera</span></li>
      <li class="page-item disabled"><span class="page-link">Anterior</span></li>
      {% endif %}
  
      <li class="page-item disabled"><span class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span></li>
  
      {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a></li>
      {% else %}
      <li class="page-item disabled"><span class="page-link">Siguiente</span></li>
      <li class="page-item disabled"><span class="page-link">Última &raquo;</span></li>
      {% endif %}
  </div>
    <p>
        <a href="{% url "artemis:index" %}" class="btn btn-secondary btn-sm" >Volver al indice</a>
    </p>
</ul>
{%endblock content%}