    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a target="_blank" rel="noopener noreferrer" 
           href="https://appseed.us/admin-dashboards/django-dashboard-material" class="simple-text logo-normal">
          Diplomados Unach
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
        {% if request.user.is_authenticated %}

          <li class="nav-item {% if 'panel_estudiantes' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url "artemis:panel_estudiantes" %}">
              <i class="material-icons">dashboard</i>
              <p>Panel Estudiantes</p>
            </a>
          </li>
          <li class="nav-item {% if 'panel_becas' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url "artemis:panel_becas" %}">
              <i class="material-icons">person</i>
              <p>Panel Becas</p>
            </a>
          </li>
          <li class="nav-item {% if 'panel_periodos' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url "artemis:panel_periodos" %}">
              <i class="material-icons">content_paste</i>
              <p>Panel Periodos</p>
            </a>
          </li>
          <li class="nav-item {% if 'panel_areas' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url "artemis:panel_areas" %}">
              <i class="material-icons">library_books</i>
              <p>Panel Areas</p>
            </a>
          </li>
          <li class="nav-item {% if 'panel_profesiones' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url "artemis:panel_profesiones" %}">
              <i class="material-icons">bubble_chart</i>
              <p>Panel Profesiones</p>
            </a>
          </li>
          <li class="nav-item {% if 'panel_docentes' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url "artemis:panel_docentes" %}">
              <i class="material-icons">location_ons</i>
              <p>Panel Docentes</p>
            </a>
          </li>
          <li class="nav-item {% if 'panel_cursoss' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url "artemis:panel_cursos" %}">
              <i class="material-icons">notifications</i>
              <p>Panel Cursos</p>
            </a>
          </li>
          
          <li class="nav-item ">
            <a class="nav-link" href="{% url "artemis:panel_diplomados" %}">
              <i class="material-icons">language</i>
              <p>Panel Diplomados</p>
            </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" href="{% url "artemis:panel_matriculas" %}">
              <i class="material-icons">language</i>
              <p>Panel Matriculas</p>
            </a>
          </li>

          <li class="nav-item ">
              <i class="material-icons">directions_run</i>
              <p>Logout</p>
            </a>
          </li> 


        {% else %}

        {% endif %}
        </ul>
      </div>

    </div>
