{% extends "base.html" %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario añadir</title>
   <!-- Bootstrap -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   {% load crispy_forms_tags %}
</head>
    <body>
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Ingresar </h5>
            <div class="col-md-100">
                <div style="display:flex;justify-content:center;">
                    <form class="card-body" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form | crispy}}
                </div>
                        <div>
                        <button type="submit" class ="btn btn-success" value="Save"> Guardar </button>
                        <input type="button" class = "btn btn-cancel" onclick="history.back();" value="Regresar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>

    {%endblock content%}